
.Top_Rated{
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    justify-content: center;
    padding: 10px;
    li{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        img {
            display: flex;
            width: 18px;
            height: 12px;
        }
        .TopRatedButt {
                    border: none; 
                    outline: none;
                    background-color: transparent;
                    color: var(--brown-color);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: var(--main-font-weight);
                    line-height: 98.5%;
                    text-wrap: nowrap;
                }
                button:hover {
                    color: var(--white-color);
                }
        &:hover {
            img {
                display: flex;
            }
        }
        .TopRatedButtActive{
            font-size: 28px;
            color: orangered;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1215px) {
    .Top_Rated {
        overflow-x: scroll;
        justify-content: flex-start !important;
    }
    .Top_Rated::-webkit-scrollbar{
        background-color: transparent;
        height: 10px;
    }

    .Top_Rated::-webkit-scrollbar-thumb {
        background-color: #346083;
        border-radius: 5px;
    }

    .Top_Rated_Gallery::-webkit-scrollbar{
        background-color: transparent;
        height: 10px;
    }
    .Top_Rated_Gallery::-webkit-scrollbar-thumb{
        background-color: #346083;
        border-radius: 5px;
    }
}